<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="JuegoDeRolJEE">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="JuegoDeRolJEE"/>
        <property name="java-output-path" value="/JuegoDeRolJEE/build/classes"/>
    </wb-module>
</project-modules>
