<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="JSF-DATATABLE_addColumn">
        <wb-resource deploy-path="/" source-path="/Web" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="data"/>
        <property name="java-output-path" value="/JSF-DATATABLE_addColumn/build/classes"/>
    </wb-module>
</project-modules>
