
<body>
	<div id="div1">
		aaaa
	</div>
	<div id="div2">
		aaaa
	</div>

	<script>

		var div3 = document.createElement('div');
		div3.id = 'div3';	
		var textnode = document.createTextNode("ccccc");  
		div3.appendChild(textnode); 

		function insertAfter(nodoNuevo, nodoObjetivo){
			if (nodoObjetivo.nextSibling==null){
				var padre = document.getElementById(nodoObjetivo).parentNode; 
				padre.appendChild(nodoNuevo);
			}else{
				hermano = nodoObjetivo.nextSibling;
				hermano.parentNode.insertBefore(nodoNuevo, hermano); 
			}
		}   

		insertAfter(div3,document.getElementById("div1")); 
		          
	</script>
</body>