<div id="ejemploAtributos" class="destacado" name="muestra" accesskey="h" onclick="muestraAtributos();"> 
         <p>Haz clic para saber el valor de id, class, name y accesskey </p>
	</div>
	<div id="listaAtributos"></div>
	<script>
		function muestraAtributos() {
	        var elemento = document.getElementById("ejemploAtributos");
	        if (elemento.hasAttributes()) {      
	            var atributos = elemento.attributes;
	            var texto = "<table border><tr><th>Nombre</th>+ 
							"<th>Valor</th></tr>";
	            for (var i=atributos.length-1;i>=0;i--){
	                texto +="<tr><td>"+ atributos[i].name + 
					"</td><td> " + atributos[i].value + 
					"</td></tr>";
	          	}
	          	texto += "</table>";
	          	document.getElementById("listaAtributos").innerHTML = texto; 
	        } 
	      	else {
	      			document.getElementById("listaAtributos").innerHTML = 
					"El elemento no tiene atributos";  
	      		}
		}
	</script>
	 